header {
  background-color: #191919;
  border-radius: 10px;
}

#signup {
  font-size: 24px;
}

form {
  margin-top: 182px;
  height: 750px;
  border: none;
  outline: none;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 341px;
  height: 17px;
  font-size: 14px;
  color: #ffffff;
  margin: 16px 0;
}

input {
  border: none;
  outline: none;
  width: 321px;
  height: 55px;
  border-radius: 25px;
  background-color: #f3f3f3;
  padding: 0;
}

.input_box {
  display: flex;
  width: 301px;
  height: 55px;
  border-radius: 25px;
  background-color: #f3f3f3;
  padding: 0 20px;
}

.clear {
  margin: 0 7px;
}

hr {
  width: 321.5px;
  height: 0px;
  border: solid 0.1px;
  color: #999999;
  margin-top: 33px;
  margin-bottom: 25px;
}

#agreement,
#submit {
  width: 341px;
  padding: 0;
}

#submit {
  margin-bottom: 30px;
  color: #191919;
  background-color: #999999;
  position: fixed;
}

#agreement {
  margin-bottom: 43px;
}

#agreement.clicked {
  background-color: #ffffd3;
}
